* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(./assets/bg-mobile.jpg) no-repeat top center / cover;
}

#container {
  width: 380px;
  margin: auto;
}

header {
}

header img {
  width: 100px;
  margin: auto;
  display: block;
}
